@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div id="Main" ng-app="authenticationApp">
    <section>{{legend}}</section>

    <div ng-controller="authController">
        <input ng-model="person.name" type="text" placeholder="your name" />
        <h1>{{person.name}}</h1>
        <h4>{{clock.now}}</h4>
    </div>

</div>

@section LoadAngularAppsSection{
    <script src="~/Scripts/app/authentication/app.js"></script>
}